<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>LegacyApi\LegacyApi</fullnamespace>
    <descriptive locale="en_US">
        <title>Pre-2.5 Thelia API port</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Portage de l'API Thelia pre-2.5</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.0</version>
    <authors>
        <author>
            <name>Franck Allimant</name>
            <company>OpenStudio</company>
            <email>fallimant@openstudio.fr</email>
            <website>www.openstudio.fr</website>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>beta</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
